<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ base_url('assets/css/main.css') }}">
	</head>
	<body>
		<main>
			{% block content %}{% endblock %}
		</main>
	</body>

	{# Global JS #}
	<script src="{{ base_url('assets/js/common/index.js') }}"></script>
	{# Page-specific JS goes here #}
	{% block scripts %}{% endblock %}
</html>
